@page "/"
@using EcreoFootballApi
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

<h1>Ecreo Football</h1>

@foreach (var match in matches)
{
    <MatchComponent Match="match"></MatchComponent>
}

@code
{
    private List<MatchDto> matches = new();
    
    protected override async Task OnInitializedAsync()
    {
        var webApiBaseAddress = Configuration["webApiBaseAddress"] ?? string.Empty;
        var client = new Client(webApiBaseAddress, new HttpClient());
        matches = (await client.GetMatchesAsync()).ToList();
    }
}
