<h5>Spiltid: @Match.Timestamp.ToString("dd/MM/yyyy - HH:mm")</h5>
<BStable>
    <BSTHead>
        <BSTR>
            <th width="200">Blåt hold</th>
            <th width="35">Resultat</th>
            <th width="200">Rød hold</th>
            <th width="35">Resultat</th>
        </BSTR>
    </BSTHead>
    <BSTBody>
        <BSTR style="@GetTeamColor()">
            <BSTD>
                <ul class="no-bullets">
                    @foreach (var player in Match.BlueTeam)
                    {
                        <PlayerComponent player="player"/>
                    }
                </ul>
            </BSTD>
            <BSTD>
                @Match.BlueScore
            </BSTD>
            <BSTD>
                <BSListGroup class="no-bullets">
                    @foreach (var player in Match.RedTeam)
                    {
                        <PlayerComponent player="player"/>
                    }
                </BSListGroup>
            </BSTD>
            <BSTD>
                @Match.RedScore
            </BSTD>
        </BSTR>
    </BSTBody>
</BStable>

@code {
    [Parameter]
    public MatchDto Match { get; set; }
    
    private string GetTeamColor()
    {
        var backgroundColor = Match.BlueScore > Match.RedScore ? "lightblue" : "lightcoral";
        return $"background-color: {backgroundColor}";
    }
    
    private string GetPlayerNames(IEnumerable<Player> players)
    {
        return string.Join(", ", players.Select(x => x.Name));
    }
}