@using EcreoFootballApi

<h3>Spiltid: @Match.Timestamp.ToString("dd/MM/yyyy - HH:mm")</h3>
<table>
    <tr>
        <th width="200">Blåt hold</th>
        <th width="35">Resultat</th>
        <th width="200">Rød hold</th>
        <th width="35">Resultat</th>
    </tr>
    <tr style="@GetTeamColor()">
        <td>
            <ul class="no-bullets">
            @foreach (var player in Match.BlueTeam)
            {
                <PlayerComponent player="player"/>
            }
            </ul>
        </td>
        <td>@Match.BlueScore</td>
        <td>
            <ul class="no-bullets">
            @foreach (var player in Match.RedTeam)
            {
                <PlayerComponent player="player"/>
            }
            </ul>
        </td>
        <td>@Match.RedScore</td>
    </tr>
</table>

@code {
    [Parameter]
    public MatchDto Match { get; set; }
    
    private string GetTeamColor()
    {
        var backgroundColor = Match.BlueScore > Match.RedScore ? "lightblue" : "lightcoral";
        return $"background-color: {backgroundColor}";
    }
    
    private string GetPlayerNames(IEnumerable<Player> players)
    {
        return string.Join(", ", players.Select(x => x.Name));
    }
}